<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 
        v-if
        지시문은 v-if 조건부로 블록을 렌더링하는데 사용된다
        지시자의 식이 참값을 반환하는 경우에만 블록이 렌더링 된다.
     -->
    <div id="step01">
        <div v-if="isTrue">
            <p>참인 경우</p>
        </div>
        <div v-if="!isTrue">
            <p>참이 아닌 경우</p>
        </div>
        <hr>
        <div v-if="truthy">
            <p>{{truthy}}</p>
        </div>
        <div v-if="falsy">
            <p>falsy</p>
        </div>
    </div>
    <hr>
    <!-- 
        v-if & v-else-if &v-else
        if 조건부로 블록을 렌더링 하는데 지시자의 식이 참인 경우 if 블록을 렌더링하게 된다.
        그러나 if 블록의 지시자의 식이 참이 아닌 경우 else 블록이 렌더링된다.
        
        항상 if 연관있는 if 구문 바로 뒤에 배치해야한다.
     -->
    <div id="step02">
        <h1 v-if="awesome == 'awesome'">Vue is awesome!</h1>
        <h1 v-else-if="awesome == 'good'"> hello</h1>
        <h1 v-else>Oh no 😢</h1>
        <button @click="setToggle">toggle</button>
    </div>
    <hr>
    <!-- 
        설명 : react의 플래그먼트 지시자와 비슷한 역할을 수행함 
               v-if에 <h1> 태그 중첩하여 추가하면 조건을 따지지 않고 전부 렌더링함
        
        
        <template>
        v-if는 조건에 따라 특정 요소를 렌더링하거나 제거하는데 사용된다.
        그러나 요소를 렌더링하는 과정에 요소들을 감싸주는 부모 요소가 필요하지 않을 수 있다.
        이러한 경우 template를 이용하여 부모 요소가 없이 요소들을 그룹화 하는 것이 가능해진다.
     -->
    <div id="step03">
        <template v-if="isTrue">
            <h1>awesome</h1>
            <h2>good</h2>
        </template>
    </div>
    <hr>
    <!-- 
        v-show
        조건에 따라 요소를 화면에 보여주거나 숨기는 데 사용된다.
        이러한 점에서 v-if와 차이점이 없는 것으로 판단할 수 있다.
        하지만 v-show의 경우 v-if와 다르게 항상 dom에 렌더링되어 유지되고
        조건이 거짓인 경우 display:none 속성으로 화면에 표시 하지않는다.
        항상 렌더링되어 있다는 점에서 v-show는 template와 함께 사용할 수 없다.
        
        사용 목적
        v-show는 요소를 초기에 렌더링하는 비용은 높으나 자주 토글되어야 하는 경우 사용하기 유용하다.
        이러한 이유로 css의 애니메이션 효과를 주기위해 자주 사용한다.
    -->
    <div id="step04">
        <h1 v-show="state">Hello!</h1>
        <!--
            <template v-show="state">
                <h1>Hello!</h1>
            </template>
         -->
        <button @click="setState">{{state}}</button>
    </div>

    <script>
        const { createApp, ref } = Vue
        createApp({
            setup() {
                const state = ref(true);
                function setState() {
                    state.value = !state.value;
                }
                return {
                    state,
                    setState
                }
            }
        }).mount("#step04")

        createApp({
            setup() {
                const isTrue = ref(true);
                return {
                    isTrue,
                }
            }
        }).mount("#step03")

        createApp({
            setup() {
                const isTrue = ref(false);
                const truthy = ref("Truthy");
                const falsy = ref("");
                return {
                    isTrue,
                    truthy,
                    falsy
                }
            }
        }).mount("#step01")


        createApp({
            setup() {
                const awesome = ref("awesome");
                const count = ref(1);

                function setToggle() {
                    const options = ["awesome", "good", "not good"];
                    const optionIndex = count.value % options.length;
                    awesome.value = options[optionIndex];
                    count.value++;
                }
                return {
                    awesome,
                    setToggle
                }
            }
        }).mount("#step02")
    </script>
</body>

</html>